.env
venv/
/venv/
./venv
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints
.env
.env.*
.env.local
.env.*.local
.idea/
.vscode/
logs/
*.log
output_audio/
temp_audio/
*.sqlite3
*.db
*.sqlite
.\venv\Lib\*
.\venv\*